#top {
    font-size: 12px;
}
ion-input {
    border-radius: 5px;
     background-color: whitesmoke;
}

.toolbar-background {
    background-color: white;
  }

.card {
    border-radius: 15px;
    background-color: #F1F0F0;
    max-width: 80%;
   // min-width: 20%;
}
.msg {
    font-size: bold;
    
}

.text-input {
    margin-left: 5px;
    font-size: 17px;
}
.innermsg {
    display: block;
    padding: 5px 10px;
    margin: 5px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.innermsg.left {
    float: right;
    background-color: #F1F0F0;
    color: black;
    clear: both;
}

.innermsg.right {
    float: left;
    //margin-right: 10%;
    background-color: #0084FF;
    color: white;
    clear: both;
}

.msgbubble {
    margin-bottom: 10px;
}

@media screen and (min-width:768px){

    #top {
        font-size: 20px;
    }

    ion-input[placeholder] {
        font-size: 25px;
        margin-left: 10px;
    }
    .innermsg.left {
        font-size: 25px;
        float: right;
        background-color: #F1F0F0;
        color: black;
        clear: both;
    }
    
    .innermsg.right {
        font-size: 25px;
        float: left;
        //margin-right: 10%;
        background-color: #0084FF;
        color: white;
        clear: both;
    }

    #back, #details {
        font-size: 25px;
    }

    #download, #send {
        font-size: 30px;
    }

}

@media screen and (min-width:992px){

    #top {
        font-size: 24px;
    }

    ion-input[placeholder] {
        font-size: 30px;
        margin-left: 20px;
    }
    .innermsg.left {
        font-size: 30px;
        float: right;
        background-color: #F1F0F0;
        color: black;
        clear: both;
    }
    
    .innermsg.right {
        font-size: 30px;
        float: left;
        //margin-right: 10%;
        background-color: #0084FF;
        color: white;
        clear: both;
    }

    #back, #details {
        font-size: 35px;
    }

    #download, #send {
        font-size: 32px;
    }

}