@media screen  and (min-width:768px){
    ion-tab-button {
        font-size: 18px;
        margin-bottom: 5px;
    }
}
@media screen  and (min-width:992px){
    ion-tab-button {
        font-size: 25px;
        margin-bottom: 10px;
    }
    
}