<ion-content>
  
  <div>
      <ion-img src="assets/imgs/map2.PNG"></ion-img>
  </div>
      

  <ion-list>

    <ion-item-divider>
      <pre> Range              Within 30 Kilometers</pre>
    </ion-item-divider>
    <ion-item>
      <ion-range color="primary" pin="true"></ion-range>
    </ion-item>
    <ion-item-divider>
      <pre> Salary                       Min $0</pre>
    </ion-item-divider>
    <ion-item>
      <ion-range color="primary" pin="true"></ion-range>
    </ion-item>
    <ion-item>
      <ion-label style="font-size:12px;">Allow Unspecified salaries</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </ion-list>

  <div class="btn" style="width:80%;margin-left:10%;margin-right:10%;">
      <ion-button color="primary" strong expand="block" (click)="filter()">Apply Filter</ion-button>
  </div>


</ion-content>