<ion-content color="light">

    
  <div class="container bg-image"> 
    <div class="inner">
      <ion-grid no-padding>
        <ion-row>
          <ion-col size="12">
            <div class="cname">
              {{company}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <div class="name">{{jobtitle}}</div>
            <div class="name">opportunity : intelligent and great</div>
          </ion-col>
          <ion-col size="4" class="ion-align-self-end">
            <div class="name" text-right>2 days ago</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>

      
  <div class="btn1">
        <ion-button id="btn1" fill="clear" slot="start"  color="secondary" (click)="minimizePage()">
          <ion-icon slot="icon-only" name="arrow-dropdown-circle"></ion-icon>
        </ion-button>
      </div>
      <div class="btn2">
        <ion-button id="btn2" fill="clear" slot="end" color="secondary"
          (click)="moreOptions()">
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
    </div>
    

  

 

  <div class="ion-card">
    <ion-card>
      <ion-card-header class="bg-color">
        <h6>Basic Info</h6>
      </ion-card-header>
      <ion-card-content class="bg-color1">
        <ion-grid>
          <ion-row >
            <ion-col size="5"><div class="txtlf"><h6>Date Posted</h6></div></ion-col>
            <ion-col size="6"><div class="txtrf">4 days ago</div></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5"><div class="txtlf"><h6>Location</h6></div></ion-col>
            <ion-col size="6"><div class="txtrf">{{location}}</div></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5"><div class="txtlf"><h6>Type</h6></div></ion-col>
            <ion-col size="6"><div class="txtrf">{{jobtype}}</div></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5"><div class="txtlf"><h6>Salary</h6></div></ion-col>
            <ion-col size="6"><div class="txtrf">Competitive Salary</div></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="ion-card1">
    <ion-card>
      <ion-card-header class="bg-color">
        <h6>Details</h6>
      </ion-card-header>
      <ion-card-content class="bg-color2">
        <div class="ion-padding ion-text-justify" style="text-indent:40px;">
          {{jobdescription}}
        </div>
      </ion-card-content>
    </ion-card>

  </div>
  <p text-center>Listed from</p>
  <h5 text-center>STEPFOURWARD</h5> 

</ion-content>

<ion-footer>

  <ion-toolbar>
    <div class="btns">
      <ion-button class="tbtn" color="danger" strong (click)="cancelbtn()">Pass</ion-button>
      <ion-button class="tbtn" color="success" strong (click)="applyjob()">Apply</ion-button>
    </div>
  </ion-toolbar>

</ion-footer>

