<ion-content color="dark">
<div id="main" style="background-color: black;">
  <ion-button color='secondary'  strong fill="clear" (click)="gotojobs()">SKIP</ion-button>

  <ion-slides parallax="true" pager="true">

    <ion-slide>
        <div id="one">
            <h3 style="color: #1CE75F;">Apply Job</h3>
            <p id="para">If you are interested in job swipe<br>  the card to the right to apply</p>
        </div>
      <ion-img src="assets/imgs/s1.PNG" style="width:185px;height:300px;margin-top:110px;margin-bottom:30px;border-radius:10px;"></ion-img>
    </ion-slide>

    <ion-slide>
      <div id="one">
        <h3 style="color:#F50606;">Skip a Job</h3>
        <p id="para">If you are interested in job swipe<br>  the card to the right to apply</p>
      </div>
      <ion-img src="assets/imgs/s22.PNG" style="width:185px; height:300px;margin-top :110px;margin-bottom:30px;"></ion-img>
    </ion-slide>

    <ion-slide>
        <div id="one">
            <h3 style="color:#C206F5;">More Info</h3>
            <p id="para">If you are interested in job swipe<br>  the card to the right to apply</p>
          </div>
      <ion-img src="assets/imgs/s3.PNG" style="width:185px; height:300px;margin-top :110px;margin-bottom:30px;"></ion-img>
    </ion-slide>

  </ion-slides>
</div>
</ion-content>