<ion-content color="dark">
<div id="main">
  <ion-button color='light' fill="clear" (click)="gotojobs()">Skip</ion-button>

  <ion-slides pager="true" paginationType="bullets">

    <ion-slide>
        <div id="one">
            <h6 text-center>Apply to a Job</h6>
            <p text-center>If you're interested in a job, swipe the card to the right to apply.</p>
        </div>
      <ion-img text-center src="assets/imgs/s1.PNG"></ion-img>
    </ion-slide>

    <ion-slide>
      <div id="one">
        <h6>Skip a Job</h6>
        <p id="para">If you're not interested in a job, swipe the card to the left to discard.</p>
      </div>
      <ion-img src="assets/imgs/s22.PNG"></ion-img>
    </ion-slide>

    <ion-slide>
        <div id="one">
            <h6 text-center>More Information</h6>
            <p text-center>To find out more about a job, tap on the card's photo.</p>
          </div>
      <ion-img src="assets/imgs/s3.PNG"></ion-img>
    </ion-slide>

  </ion-slides>
</div>
</ion-content>