
<ion-content>
        
  <ion-list>
   <ion-item *ngFor="let failedjob of this.service.failedJobs">   
     <ion-avatar slot="start" ion-checkbox checked="false">
       <div id="text">
          <h6>{{ failedjob.companyTitle.charAt(0) }}</h6>
       </div>
     <ion-icon name="close-circle"></ion-icon>  
     </ion-avatar>
     <ion-label lines="none">
         <h6>{{ failedjob.companyTitle }}</h6>
         <p id="p">Failed at {{  failedjob.date }}</p>
         <p id="p1">{{ failedjob.jobTitle }}</p>
       </ion-label>
   </ion-item>
 </ion-list>

</ion-content>
