<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button id="mic" color="secondary" fill="clear">
        <ion-icon name="mic"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="filter" fill="clear" color="secondary" (click)="presentModal()">
        <i class="fas fa fa-filter"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div swingStack #swingStack [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)"
    id="card-stack">
    <ion-card swingCard #swingCards *ngFor="let card of cards">
      <div class="parent">
        <ion-img src="assets/imgs/lap.jpg" (click)="launchjobDescriptionPage(card)"></ion-img>
        <div class="child">
          <ion-grid>
            <ion-row>
              <ion-col id="cname">{{card.company}}</ion-col>
            </ion-row>
            <ion-row id="name">
              <ion-col size="6">{{card.jobtitle}}</ion-col>
              <ion-col offset="2" size="4">2 days ago</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <ion-card-content>
        <div class="container">
					<tr>
						<td class="label">Location</td>
						<td class="des">{{ card.location }}</td>
					</tr>
					<tr>
						<td class="label">Type</td>
						<td class="des">{{ card.jobtype }}</td>
					</tr>
					<tr>
						<td class="label">salary</td>
						<td class="des">{{ card.jobtype }}</td>
					</tr>
					<tr>
						<td class="label">Description</td>
						<td class="des lmt">{{ card.jobdescription.slice(0, 75) }}</td>
					</tr>
					<tr>
						<td class="label">Source</td>
						<td class="des" style="font-weight:bold;color: #0bb8cc;text-transform: uppercase">
						Stepfourward
						</td>
					</tr>
				</div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>