<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="secondary" fill="clear">
        <ion-icon name="mic"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="secondary" (click)="presentModal()">
        <i class="fas fa fa-filter"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div swingStack #swingStack [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)"
    id="card-stack">
    <ion-card swingCard #swingCards *ngFor="let card of cards">
      <div class="parent">
        <ion-img id="image" src="assets/imgs/lap.jpg" (click)="launchjobDescriptionPage(card)"></ion-img>
        <div class="child">
          <ion-grid>
            <ion-row>
              <ion-col>{{card.company}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>{{card.jobtitle}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col>2 days ago</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="4">Location</ion-col>
            <ion-col size="8">{{card.location}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">Job Type</ion-col>
            <ion-col size="8">{{card.jobtype}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">Job Description</ion-col>
            <ion-col size="8">{{card.jobdescription}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">Source</ion-col>
            <ion-col size="8" style="color:purple;font-size: large;">STEPFOURWARD</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>