<ion-content>

	<div class="logo">
		<ion-img src="assets/imgs/noti.PNG" style="width:100%;"></ion-img>
	</div>
	<div class="caption">
		<p text-center>Please turn on notifcations</p>
	</div>

	<div class="text">
		<p>This is includes email and push notifcations about job postings and other career content.
			You can withdraw cosent at any time, or change your preferences in Settings.
		</p>
	</div>

	<div class="text1">
		<p (click)="toPolicypage()"><u>Privacy Policy</u></p>
	</div>

	<div class="text2">
		<ion-button class="btn1" fill="outline" color="none" (click)="notnow()"><span id="one">NOT NOW</span></ion-button>
	<ion-button class="btn2" color="secondary" (click)="acccessNofification()" ><span id="two">OK</span></ion-button>
	</div>

</ion-content>