
<ion-content class="ion-no-padding">

  <div class="signin">
    <p class="org">STEPFOURWARD</p>
    <span class="btn1" (click)="gotoLogin()">SIGN IN</span>
  </div>

  <div class="cologo">
    <ion-img style="width:100%;" src="assets/imgs/logo-png.png"></ion-img>
  </div>

  <div class="caption">
    <p text-center>The easiest way to find a job</p>
  </div>

  <div class="linkedin">

    <ion-img style="width:100%;" src="assets/imgs/linkedin1.png" (click)="linkedinLogin()"></ion-img>
  
    </div>

  <div class="facebook">

  <ion-img style="width:100%;" src="assets/imgs/fb1.jpg" (click)="loginWithFb()"></ion-img>

  </div>

  <div class="terms" text-center>
  I agree to the <u (click)="termspage()">Terms of Usage</u> and <u (click)="privacypage()">Privacy Policy </u> 
</div>

  <ion-button class="signup" fill="clear" expand="full" (click)="gotoSignup()"><span>Sign Up with Email</span></ion-button>

</ion-content>
