
<ion-content color="light">
  <div class="ion-padding">
    <ion-button id="signin" color="secondary" strong fill="clear" (click)="gotoLogin()">SIGN IN</ion-button>
    <ion-img id="cologo" src="assets/imgs/logo-png.png"></ion-img>

    <p id="caption">The easiest way to find a job</p>
    
    <ion-img id="linkedin" src="assets/imgs/linkedin.png" (click)="linkedinLogin()"></ion-img>

    <ion-img id="facebook" src="assets/imgs/facebook-sign-in-button.png" (click)="loginWithFb()"></ion-img>
    
    
    
     <p id="terms">I agree to the <i style="color:slateblue;" (click)="termspage()">Terms of Usage</i> and <i style="color:slateblue;" (click)="privacypage()">Privacy Policy</i></p>
    

    <ion-button id="signup" color="dark" fill="clear" strong expand="full" (click)="gotoSignup()">SIGNUP WITH EMAIL</ion-button>

    </div>
</ion-content>
