<ion-content>

  <ion-list lines="full">
    <ion-item *ngFor="let appliedjob of this.service.appliedJobs">
      <ion-avatar slot="start">
        <div id="text">
          <h6>{{appliedjob.companyTitle.charAt(0)}}</h6>
        </div>
        <ion-icon  name="checkmark-circle"></ion-icon>
      </ion-avatar>
      <ion-label lines="none">
        <h5>{{ appliedjob.companyTitle }}</h5>
        <p id="p">Applied at {{  appliedjob.date }}</p>
        <p id="p1">{{ appliedjob.jobTitle }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>