<ion-header>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-button id="close" (click)="goback()" color="success">
          <ion-icon  slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title text-center>Sign In</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="light">
  
    <form [formGroup]="user" (ngSubmit)="onSubmit()">
      <ion-list lines="full">

        <ion-item style="border-top:1px rgb(97, 97, 97);" [ngClass]="{'is-invalid':user.controls.name.errors && (user.controls.name.touched || user.controls.name.dirty)}">
          <ion-label  position="fixed">FullName</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <span  class="is-invalid" id="error" *ngIf="user.controls.name.errors && (user.controls.name.touched || user.controls.name.dirty)">
          <span *ngIf="user.controls.name.errors.required">
            FullName field cannot be empty
          </span>
        </span>

        <ion-item  [ngClass]="{'is-invalid':user.controls.email.errors && (user.controls.email.touched || user.controls.email.dirty)}">
          <ion-label  position="fixed">Email Id</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <span class="is-invalid" id="error" *ngIf="user.controls.email.errors && (user.controls.email.touched || user.controls.email.dirty)">
            <span *ngIf="user.controls.email.errors.required">
              Valid email address is required
            </span>
            <span *ngIf="user.controls.email.errors.email">Invalid email address</span>
          </span>

        <ion-item  [ngClass]="{'is-invalid':user.controls.username.errors && (user.controls.username.touched || user.controls.username.dirty)}">
          <ion-label  position="fixed">UserName</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
        <span class="is-invalid" id="error" *ngIf="user.controls.username.errors && (user.controls.username.touched || user.controls.username.dirty)">
            <span *ngIf="user.controls.username.errors.required">
              UserName field cannot be empty
            </span>
          </span>

        <ion-item lines="none"  [ngClass]="{'is-invalid':user.controls.password.errors && (user.controls.password.touched || user.controls.password.dirty)}">
          <ion-label  position="fixed">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <span class="is-invalid" id="error" *ngIf="user.controls.password.errors && (user.controls.password.touched || user.controls.password.dirty)">
            <span *ngIf="user.controls.password.errors.required">
              Password field cannot be empty
            </span>
            <span *ngIf="user.controls.password.errors.minlength || user.controls.password.errors.maxlength">
              Password must be greater than 6 characters and less than 10 characters
            </span>
          </span>

        </ion-list>

          <div class="terms" text-center>
            I agree to the <u (click)="termspage()">Terms of Usage</u> and <u (click)="privacypage()">Privacy Policy </u> 
          </div>

        <div class="submit">
          <ion-button style="height:50px;" type="submit" color="secondary" [disabled]="user.invalid" expand="full">Create New Account</ion-button>
        </div>
      
    </form>
  
  </ion-content>