
<ion-content>
    <form #profile="ngForm" (ngSubmit)="profileSubmit(profile)"> 
      
      <div class="container">

          <div class="edit" *ngIf="lock; else ok_content">
              <ion-button fill="clear" (click)="editContent()">
                  Import
              </ion-button>
          </div>

          <div class="profilepic">
              <ion-avatar>
                <ion-img src="{{profilePic}}" (click)="openGaller()"></ion-img> 
              </ion-avatar> 
            </div>
            <div class="name">
                <h5 text-center>M S</h5>
                <p text-center>Markham, ON</p>
              </div>

      </div>

      <div class="divider">
          <span class="p">RESUME FROM THE CLOUD</span>
          <span class="h6" (click)="uploadFile()">Edit &nbsp; &nbsp; <i class="fas fa-chevron-right"></i></span>
        </div>

        <div class="content">
          <span class="h5">Uploaded Resume :</span>
          <span class="p1">View</span><br>
          <span class="p2">Not Uploaded</span> 
        </div>

        <div class="divider">
            <span class="p">SUMMARY</span>
            <span class="h6">Edit &nbsp; &nbsp; <i class="fas fa-chevron-right"></i></span>
          </div>

          <div class="content1">
              <span class="p3">A little bit about you</span><br> 
            </div>

            <div class="divider">
                <span class="p">EXPERIENCE</span>
                <span class="h6">Edit &nbsp; &nbsp; <i class="fas fa-chevron-right"></i></span>
              </div>
      
              <div class="content">
                <span class="h5">Software Engineer</span><br>
                <span class="p2">Not Provided</span> 
              </div>

              <div class="divider">
                  <span class="p">EDUCATION</span>
                  <span class="h6">Edit &nbsp; &nbsp; <i class="fas fa-chevron-right"></i></span>
                </div>
        
                <div class="content">
                  <span class="h5">Not Provided</span><br>
                  <span class="p2">University of Torinto</span> 
                </div>
   
      <!-- <ion-list>

        
          <ion-item-divider>
            <ion-label>
              Resume from the cloud
            </ion-label>
          </ion-item-divider>
          <ion-item class="items">
              <ion-label> 
                  {{ resumeName }}
                  <div text-right>
                      <button ion-button  icon-only clear (click)="uploadFile()">
                          <ion-icon name="ios-cloud-upload"></ion-icon>
                      </button>
                  </div>
              </ion-label>
          </ion-item>
          <ion-item-divider>
              <ion-label>
                Summary
              </ion-label>
            </ion-item-divider>
            <ion-item class="items">
                <ion-input [(ngModel)]="about" name="about" placeholder="A little about you" [disabled]="lock"></ion-input>
            </ion-item>
            <ion-item-divider>
                <ion-label>
                Expirence
                </ion-label>
              </ion-item-divider>
              <ion-item class="items">
                  <ion-input  [(ngModel)]="expirence" name="expirence" placeholder="job Expirence" [disabled]="lock"></ion-input>
              </ion-item>
              <ion-item-divider>
                  <ion-label>
                    Education
                  </ion-label>
                </ion-item-divider>
                <ion-item class="items">
                    <ion-input [(ngModel)]="education" name="education" placeholder="University" [disabled]="lock"></ion-input>
                </ion-item>
        </ion-list> -->
          <!-- <div class="submit">
            <ion-button type="submit" expand="block" color="secondary">
                SAVE
            </ion-button>
          </div> -->
        
      </form>
      
  
  </ion-content>
  