page-profile {
    
    #box {
        height: 40%;
        width: 100%;
        background: #3BABE3;
        position: relative;
    }

 #btn { 
     position: absolute;
     right:5px;
 }

    #ppic {
        
       position: absolute;
        padding-top: 40px;
        width: 100px;
        height: 100px;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    
    #name {
        font-weight: bold;
        font-size: 17px;
        color: white;
        text-align: center;
    }
    #loc {
        text-align: center;
        font-size: 14px;
        color: white;
        // position: relative;
        // top: 1px;
    }

    ion-item-divider {
        height: 3px;
        width: 100%;
    }
    ion-item {
        height: 8px;
        width: 100%; 
    }

    ion-list {
        height: 50%;
    }
    .toolbar-background {
        background-color: white;
    }
    .tabs .tabbar {
        background-color: white;
    }
    .items {
        border: 1px solid #E0E0E0;
    }
    ion-label {
        font-size: 12px;
        color: grey;
    }
    .text-input {
        font-size: 12px;
    }
   
}
